<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCQHW2kAh4CHT1WV466WD8CULRcoUTSdE8</string>
	<key>GCM_SENDER_ID</key>
	<string>690902769208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SeniorDesignTeam10.SmartDart</string>
	<key>PROJECT_ID</key>
	<string>smartdart-97b28</string>
	<key>STORAGE_BUCKET</key>
	<string>smartdart-97b28.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:690902769208:ios:a51612edfbe3629d5b90cd</string>
</dict>
</plist>